.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#greet_btn {
  color: white;
  background-color: #282c34;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 200px;
  font-size: large;
}

#greet_btn:active {
  background-color: gray;
}

#setL2_btn {
  color: white;
  background-color: #282c34;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 200px;
  left: 340px;
  font-size: large;
}

#setL2_btn:active {
  background-color: gray;
}

#setL1_btn {
  color: white;
  background-color: #282c34;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 200px;
  left: 640px;
  font-size: large;
}

#setL1_btn:active {
  background-color: gray;
}
