.App {
  font-family: sans-serif;
  text-align: center;

  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container > * {
  margin: 20px 0;
}

#logo {
  border-radius: 50%;
}

[class*="primary"] {
  background-color: #207868;
  border-color: #207868;
}

[class*="primary"]:hover {
  background-color: #25917d;
  border-color: #25917d;
}
